:root {
    --white: #ffffff;
    --darkblue: #2e345d;
    --lightorange: #E7A35E;
    --lightblue: #B8D7FF;
    --orange: #F37020;
    --black: #000000;
    --brown-orange: #d7ad85;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 26pt;
    color: var(--white);
}

/**************
  BACKGROUND
**************/
#inside {
    height: 100vh;
    width: 100vw;
    background-image: url(./../img/inside.png);
    background-size: cover;
}

#outside {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(./../img/outside.png);
    background-size: cover;
}

/**************
    INDEX
**************/
.buttons {
    background-color: var(--lightorange);
    width: 80%;
    margin: auto auto 35px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2.4px 2.4px 3.2px var(--orange);
}

.buttons #start {
    margin-top: 0;
}

#quitButton {
    position: fixed;
    top: 3%;
    right: 5%;
    background-color: var(--lightorange);
    width: auto;
    font-size: 14pt;
    margin: auto auto 35px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2.4px 2.4px 3.2px var(--orange);
}

#quitButton p {
    width: auto;
    padding: 2px 10px;
}

/*start*/
#startPage {
    padding-top: 5.5em;
}

#optionsStart {
    display: none;
}

#optionsStart p {
    height: 30vh;
    margin-top: 2em;
    padding: auto;
}

#conducteur {
    width: 275px;
    display: block;
    margin: 0 auto;
}

/*languages*/
#languages {
    display: none;
    padding-top: 5.5em
}

/*name*/
#name {
    display: none;
}

/**************
    START
**************/
#createTrainPage {
    text-align: center;
    margin-top: 1.5em;
}

#imgPlaceholder {
    color: black;
    font-size: 14pt;
    height: 60vh;
}


/**************
    OPTIONS
**************/

#header {
    display: none;
    margin-bottom: 0;
}

#header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    width: 70%;
}

#imgPlaceholderOptions {
    color: black;
    font-size: 14pt;
    height: 30vh;
}

.cancelButton {
    background-color: var(--brown-orange);
    width: 80%;
    margin: 1em auto;
    margin-top: 2em;
    text-align: center;
    border-radius: 15pt;
    box-shadow: 2.4px 2.4px 3.2px var(--lightorange);
}

/**************
    COLOUR
**************/
#colours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 45px;
}

#colours p {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px 5px;
}

#white {
    background-color: white;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple {
    background-color: purple;
}

#black {
    background-color: black;
}