:root {
    --white: #ffffff;
    --darkblue: #2e345d;
    --lightorange: #E7A35E;
    --lightblue: #B8D7FF;
    --orange: #F37020;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--darkblue);
    font-family: 'Rajdhani', sans-serif;
    font-size: 26pt;
    color: var(--white);
}

/**************
    INDEX
**************/

.buttons {
    background-color: var(--lightorange);
    width: 80%;
    margin: 1em auto;
    text-align: center;
    border-radius: 15pt;
    box-shadow: 2.4px 2.4px 3.2px var(--orange);
}

#languages {
    margin-top: 4em;
}

#optionsStart {
    display: none;
}

#optionsStart p {
    height: 30vh;
    margin-top: 2em;
    padding: auto;
}

/**************
    START
**************/
#createTrainPage {
    text-align: center;
    margin-top: 1.5em;
}

#imgPlaceholder {
    color: black;
    font-size: 14pt;
    height: 60vh;
}


/**************
    OPTIONS
**************/

#header {
    display: none;
}

#header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    width: 70%;
}

#imgPlaceholderOptions {
    color: black;
    font-size: 14pt;
    height: 45vh;
}